<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Auto Proctor</title>
    <style>
    video,
    canvas {
        top: 10%;
        left: 25%;
        position: absolute;
    }
    </style>
    <script src="../bower_components/dat-gui/build/dat.gui.min.js" type="text/javascript"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../bower_components/tracking.js/build/tracking-min.js" type="text/javascript"></script>
    <script src="../bower_components/tracking.js/build/data/face-min.js" type="text/javascript"></script>
    <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="../js/index.js" type="text/javascript"></script>
</head>

<body ng-app="indexApp" ng-controller="indexCtrl as ctrl">
    <div class="demo-container">
        <video id="video" width="640" height="480" autoplay muted></video>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <div>
        <button id="record" ng-click="ctrl.startRecording()">Start Recording</button>
        <button id="stop" ng-click="ctrl.stopRecording()">stop</button>
        <button id="download" ng-click="ctrl.download()">Download</button>
    </div>
    <!-- <video id="video" autoplay></video> -->
</body>

</html>
